body {
    background-color: lightsteelblue;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 7em;
}

ul {
    list-style: none;
    text-align: center;
    font-size: 5em;
}

#mac {
    background-color: yellow;
}

#mash {
    background-color: white;
}

#beef {
    background-color: brown;
}

a {
    text-decoration: none;
}